{{ if .Title }}
  <div class="mx-auto mb-16 mt-9 max-w-screen-lg px-6 text-center">
    <h1 class="text-3xl font-semibold md:text-4xl">{{ .Title }}</h1>
      <p class="mt-6 text-secondary md:text-lg">Hi! My name is Elīna. I mostly do portrait and event photography, and sometimes product photography. </br> Here is a small preview of my work. You can also find me on Instagram <a id="instagram-link" href="https://www.instagram.com/thatmomentlv/" target="_blank" >@thatmomentlv</a> and <a id="instagram-link" href="https://www.instagram.com/e_liinaj/" target="_blank">@e_liinaj</a>.
      </p>
  </div>
{{ end }}
